rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() { return isSignedIn() && (request.auth.token.email == "itaopovos@gmail.com" || request.auth.token.email == "colavaliacao@gmail.com"); }

    match /estudantes/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /pais/fotos/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
  }
}
